
body{
    p,li{
        font-size: 18px;
    }
    h1{

    }
    h2{

    }
    h3{

    }
    h4{

    }
    strong{
        color: $black;
    }
    #main{
        p,li{
            font-size: 18px;
        }
        h1{

        }
        h2{

        }
        h3{

        }
        h4{

        }
        strong{
            color: $black;
        }
    }
}

